.search-form-wrapper{
  &.sttp-search-form{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .search-form{
      border: 1px solid #dfdfdf;
      box-shadow: none !important;
      .sttp-button{
        position: absolute;
        right: 0;
        height: 100%;
        .btn-search{
          background: #5191FA;
          position: absolute;
          top: -1px;
          right: -1px;
          height: 102%;
          -webkit-border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
          width: 100%;
          border: none;
        }
      }
      .form-extra-field {
        padding-top: 18px !important;
        padding-bottom: 12px !important;
        .dropdown-menu{
          min-width: 900px;
        }
      }
      .sttp-dropdown-menu{
        position: absolute;
        width: 973px;
        z-index: 999;
        padding: 15px 25px;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin-top: 20px;
        display: none;
        .sttp-dropdown-menu-country{
          max-height: 400px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        #sttp-airport-list{
          max-height: 400px;
          overflow: auto;
        }
        label{
          font-size: 16px;
          margin-bottom: 10px;
        }
        input{
          margin-bottom: 20px;
          box-shadow: none;
          border-radius: 2px;
          border: 1px solid #dfdfdf;
        }
        .item-wrapper{
          .item {
            font-size: 15px;
            margin-bottom: 5px;
            margin-top: 5px;
            cursor: pointer;
            padding: 5px 10px;
            display: inline-block;
            &:hover {
              background: #5191fa;
              color: #fff;
              padding: 5px 10px;
              display: inline-block;
              border-radius: 30px;
              font-size: 15px;
            }
            &.active{
              background: #5191fa;
              color: #fff;
              padding: 5px 10px;
              display: inline-block;
              border-radius: 30px;
              font-size: 15px;
            }
          }
        }
        &:after{
          content: "";
          height: 16px;
          width: 16px;
          display: block;
          position: absolute;
          top: -9px;
          transform: rotate(45deg);
          background: #fff;
          border: 1px solid #dfdfdf;
          border-right: none;
          border-bottom: none;
          left: 25%;
          -webkit-transition: all 0.6s;
          -moz-transition: all 0.6s;
          -ms-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s;
        }
        &.next{
          &:after{
            left: 75%;
          }
        }
        .st-loader{
          display: none;
        }
        .fa-loader{
          display: none;
        }
        &.loading{
          .st-loader{
            display: block;
            z-index: 10;
          }
          &:before{
            z-index: 9;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.5);
          }
        }
        &.fa-loading{
          .fa-loader{
            display: inline-block;
          }
        }
      }
    }
    .advance-search{
      display: none;
      width: 973px;
      margin-top: 40px;
      background: #fff;
      border: 1px solid #dfdfdf;
      padding: 25px 20px 20px 20px;
      position: absolute;
      z-index: 99;
      &:after{
        content: "";
        height: 16px;
        width: 16px;
        display: block;
        position: absolute;
        top: -9px;
        transform: rotate(45deg);
        background: #fff;
        border: 1px solid #dfdfdf;
        border-right: none;
        border-bottom: none;
        left: 25px;
      }
      .advance-search-box {
        .flight-way{
          display: block;
          overflow: hidden;
          margin-bottom: 20px;
          ul{
            padding: 0;
            margin: 0;
            li{
              float: left;
              list-style: none;
              font-weight: 450;
              margin-right: 25px;
              font-size: 15px;
              cursor: pointer;
              padding-bottom: 3px;
              &.active{
                border-bottom: 2px solid #5191FA;
              }
            }
          }
        }
        .sttp-date{
          position: relative;
          .sttp-out{

          }
          .sttp-back{

          }
          .sttp-date-item{
            position: relative;
          }
          .label{
            font-size: 14px;
            color: #5E6D77;
            font-weight: 400;
            margin-bottom: 10px;
            display: inline-block;
            padding: 0;
          }
          .render{
            span{
              font-size: 16px;
              color: #5191FA;
              overflow: hidden;
              width: 100%;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .sttp-input-date{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            color: transparent;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      .people-item{
        label{
          font-size: 14px;
          color: #5E6D77;
          font-weight: 400;
          margin-bottom: 0px;
          display: inline-block;
          padding: 0;
        }
        select{
          font-size: 16px;
          color: #5191FA;
          overflow: hidden;
          width: 100%;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          border: none;
          box-shadow: none;
          margin-left: -12px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      .sttp-age-item{
        margin-top: 15px;
        display: none;
        label{
          font-size: 14px;
          color: #5E6D77;
          font-weight: 400;
          margin-bottom: 0px;
        }
        .item{
          margin-top: 10px;
          select{
            padding: 4px 5px;
            border-radius: 2px;
            box-shadow: none;
            -webkit-appearance: menulist;
            -moz-appearance: menulist;
            appearance: menulist;
            height: 30px;
            line-height: 20px;
            margin-top: 4px;
            &:focus{
              border-color: #5191FA;
            }
          }
        }
      }
    }
  }
}

.sttp-search-result{
  .item{
    background: #fff;
    border: 1px dashed #ccc;
    padding: 25px 10px 0 10px;
    position: relative;
    margin-bottom: 40px;
    min-height: 160px;
    &.active{
      border-left-color: #5191fa;
      border-left-width: 3px;
      border-left-style: solid;
    }
    .program{
      position: unset;
      .itn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 55px 30px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: 1px;
        margin-top: 15px;
        .time{
          font-size: 22px;
          font-weight: 450;
          flex:0 0 auto; /* Forces side columns to stay same width */
          /*width:100px;*/
          text-align: center;
          .date{
            display: block;
            font-size: 14px;
            font-weight: normal;
          }
        }
        .int-item{
          flex:1 1 auto;
          flex: 1 1 auto;
          padding-left: 30px;
          padding-right: 30px;
          text-align: center;
          .hour{
            font-weight: 450;
            font-size: 16px;
            position: relative;
            top: -20px;
          }
          .int-process{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 9px;
            position: relative;
            span{
              &.itn-circle {
                position: relative;
                z-index: 2;
                &:before {
                  width: 16px;
                  height: 16px;
                  border: 1px solid #333;
                  content: '';
                  border-radius: 50%;
                  display: block;
                  margin: auto;
                  background: #fff;
                }
                .sub-time{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  span{
                    text-align: center;
                    padding: 0 5px;
                    small{
                      display: block;
                    }
                  }
                }
              }
            }
            &:before{
              position: absolute;
              content: '';
              display: block;
              height: 2px;
              background: #666;
              top: 7px;
              width: 96%;
              z-index: 1;
              left: 14px;
            }
            .flight-info{
              position: absolute;
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              top: -20px;
              .f-item{
                a[data-toggle="tooltip"]{
                  cursor: pointer;
                }
              }
            }
            .flight-info-2{
              position: absolute;
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              top: 20px;
              .f-item{
                flex:1;
              }
            }
          }
        }
        .sttp-selection{
          padding: 0px 0px 0px 5px;
          margin-left: 15px;
          border-left: 1px dotted #dfdfdf;
          min-width: 70px;
          min-height: 40px;
          .st-icheck-item{
            margin: auto;
            display: block;
            width: 21px;
            label{
              .checkmark {
                height: 25px;
                width: 25px;
                &:after{
                  top: 5px;
                  left: 5px;
                  width: 13px;
                  height: 13px;
                }
              }
            }
          }
          .inbound-data{
            margin-top: 15px;
            width: 66px;
            span{
              display: block;
              text-align: center;
              &.inbound-num{
                width: auto;
                font-size: 19px;
                font-weight: 450;
              }
            }
          }
        }
        .sttp-flight-details{
          position: absolute;
          bottom: 20px;
          color: #5191fa;
          font-weight: 450;
        }
        .modal{
          .modal-header{
            padding-bottom: 20px;
            .modal-title{
              font-size: 20px;
            }
            .close{
              position: absolute;
              top: 24px;
              right: 30px;
            }
          }
          .modal-body{
            .popup-item{
              border-bottom: 1px dashed #dfdfdf;
              padding-bottom: 10px;
              margin-bottom: 20px;
              &:last-child{
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
              }
            }
            .nav-tabs{
              margin-bottom: 20px;
              li{
                a{
                  color: #5191FA
                }
              }
            }
          }
        }
      }
      .inbound-list{
       display: none;
        background: #dfdfdf;
        margin-bottom: 25px;
        span.title{
          font-weight: 450;
          display: block;
          padding: 10px;
          font-size: 18px;
        }
        .sttp-selection{
          min-width: 70px;
        }
        .sub-item{
          border-top: 1px dashed #ccc;
        }
      }
    }
    .info{
      text-align: center;
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
      border-left: 1px dashed #ccc;
      padding: 25px 0;
      .price{
        font-size: 18px;
        font-weight: 450;
        margin-bottom: 15px;
        span{
          font-weight: normal;
          font-size: 16px;
        }
      }
      .carret{
        img{
          display: block;
          margin: auto;
          margin-bottom: 10px;
        }
        span{
          font-weight: 450;
          font-size: 16px;
        }
      }
    }
    .sttp-more-option{
      position: absolute;
      bottom: -8px;
      text-align: center;
      z-index: 9;
      left: -39px;
      span{
        padding: 5px;
        background: #dfdfdf;
        cursor: pointer;
      }
    }
    .sub-item-wrapper{
      /*border-top: 1px dashed #dfdfdf;*/
      display: none;
      .sub-item{
        /*border-top: 1px dashed #dfdfdf;
        padding: 20px;
        margin-top: 5px;*/
        padding-bottom: 0px;
        padding-right: 0;
        padding-left: 0;
        .itn{
          border-bottom: 1px dashed #dfdfdf;
        }
        &:last-child{
          .itn{
              border-bottom: none;
          }
        }
      }
    }
  }
}

.sttp-cart{
  padding-top: 50px;
  padding-bottom: 50px;
  .warning{
    margin-bottom: 30px;
    .panel-default{
      &>.panel-heading{
        background: transparent;
      }
    }
  }
  .item-list{
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .item-carrier{
        width: 150px;
        font-size: 12px;
        font-weight: 450;
        img{
          margin-bottom: 10px;
          display: block;
        }
      }
      .item-date{
        .date{
          font-size: 15px;
          font-weight: 450;
        }
      }
      .item-airport{
        .title{
          font-size: 15px;
          font-weight: 450;
        }
      }
      .item-available{
        .title{
          font-size: 15px;
          font-weight: 450;
        }
        .fa{
          font-size: 30px;
          margin-right: 10px;
          margin-top: 10px;
          cursor: pointer;
          &.loading{
            display: none;
          }
        }
        &.loading{
          .loading{
            display: inline-block;
          }
        }
      }
    }
  }
  .total-price{
    .total{
      font-size: 18px;
    }
  }

  .sttp-passenger-form{
    margin-top: 20px;
    border-top: 1px dashed #dfdfdf;
    .inner-form{
      .item{
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 2px;
        border: 1px dashed #dfdfdf;
        .passenger-title{
          font-weight: 450;
          font-size: 16px;
          margin-bottom: 15px;
        }
        .form-group{
          label{
            input{

            }
          }
        }
      }
    }
  }
  .total-purchase{
    background: #dfeaf0;
    padding: 30px;
    margin-top: 20px;
    p{
      font-size: 15px;
      b{
        font-weight: 450;
        font-size: 16px;
      }
      &.total{
        b{
          font-size: 35px;
          line-height: 50px;
          color: #77BD1F;
        }
      }
    }
    button{
      background: #77BD1F;
      color: #fff;
      border: none;
      font-size: 17px;
      padding: 10px 20px;
      font-weight: 450;
    }
  }
}
.show-advance-search{
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  .fa{
    margin-left: 5px;
  }
}
.sttp-pag{
  .page-item{
    float: left;
    display: inline-block;
    font-size: 15px;
    color: #5E6D77;
    border: 1px solid #5E6D77;
    border-radius: 2px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    &:hover{
      border-color: #5191FA;
      color: #fff;
      background: #5191FA;
    }
  }
  span{
    border-color: #5191FA !important;
    color: #fff !important;
    background: #5191FA;
  }
}

.sttp-add-to-cart{
  background: #5191fa !important;
  font-weight: 400 !important;
  padding: 6px 12px !important;
  color: #fff;
  font-size: 14px;
  display: none;
  border: none;
  border-radius: 4px;
  .fa{
    display: none;
  }
  &.loading{
    .fa{
      display: inline-block;
    }
  }
}


.sttp-seat-table{
  width: 100%;
  overflow: auto;
  table{
    border-collapse: collapse;
    width: 100%;
    td{
      border: 1px solid #dfdfdf;
      padding: 3px;
      position: relative;
      text-align: center;
      font-weight: 450;
      cursor: pointer;
      .sttp-seat-tooltip{
        display: none !important;
        position: absolute;
        bottom: 55px;
        min-width: 50px;
        background: rgba(0,0,0,0.7);
        border: none;
        left: 50%;
        color: #fff;
        border-radius: 5px;
        .head{
          background: #5191FA;
          padding: 5px 10px;
          text-align: center;
          font-size: 16px;
          font-weight: 450;
          color: #fff;
        }
        .body{
          padding: 10px;
          font-size: 14px;
          text-align: left;
          p{
            &:last-child{
              margin-bottom: 0;
            }
          }
          span{
            display: block;
            margin-left: 15px;
          }
        }
        .foot{
          text-align: right;
          font-size: 14px;
          padding: 2px 10px;
          border-top: none;
        }
        &:after{
          content: '';
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          display: block;
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -4px;
          border: 4px solid rgba(0,0,0,0.7);
          border-left-color: transparent;
          border-top-color: transparent;
        }
      }
      &:hover{
        .sttp-seat-tooltip{
          display: block;
        }
      }
      &.aisle{
        padding: 20px 0;
      }
      .item-available{
        .selected{
          display: none;
          position: relative;
          .seat-code-label {
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 45px;
            font-size: 14px;
            text-align: center;
            margin-left: -3px;
          }
        }
        .selected-active{
          display: none;
          position: relative;
          .seat-code-label {
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 45px;
            font-size: 14px;
            text-align: center;
            margin-left: -3px;
          }
        }
        .normal{
          display: block;
          position: relative;
          .seat-code-label {
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 45px;
            font-size: 14px;
            text-align: center;
            margin-left: -3px;
          }
        }
        &.selected-active{
          .selected{
            display: none;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
          .selected-active{
            display: block;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
          .normal{
            display: none;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
        }
        &.selected{
          .selected{
            display: block;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
          .selected-active{
            display: none;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
          .normal{
            display: none;
            position: relative;
            .seat-code-label {
              position: absolute;
              height: 100%;
              width: 100%;
              line-height: 45px;
              font-size: 14px;
              text-align: center;
              margin-left: -3px;
            }
          }
        }
      }
      a.tt{
        /*position: absolute;
        top: 3px;
        left: 3px;*/
      }
    }
    th{
      padding: 5px 0;
      border: 1px solid #dfdfdf;
      border-bottom: 2px solid #5191fa;
      font-size: 17px;
      text-align: center;
    }
  }
}

.sttp-seat-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999999;
  overflow-y: auto;
  overflow-x: hidden;
  .nav-tabs{
    padding: 10px 0 0 0;
    li{
      a{
        font-weight: 450;
        color: #333;
      }
    }
  }
  .tab-content{
    padding: 10px;
    .carrier-info{
      display: none;
      padding: 20px 0 30px 0;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 20px;
      span{
        font-size: 15px;
        b{
          font-weight: 450;
        }
      }
    }
    .sttp-seat-traveler{
      border: 1px solid #dfdfdf;
      padding: 5px 10px;
      border-radius: 3px;
      margin-bottom: 20px;
      .item{
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        .seat-value{
          width: 40px;
          height: 35px;
          /*background: #77bd1f;*/
          background: #dfdfdf;
          margin-right: 10px;
          text-align: center;
          line-height: 36px;
          font-weight: 450;
          font-size: 14px;
        }
        &.active{
          .seat-value{
            background: #77bd1f;
          }
        }
      }
    }
    .sttp-seat-note{
      overflow: hidden;
      .item{
        padding: 5px 0;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        img{
          width: 30px;
        }
      }
    }
    .sttp-seat-table{
      .seat-table{
        display: none;
        &.active{
          display: block;
        }
      }
    }
  }
}
.sttp-apply-seat{
  padding: 9px 20px;
  border: none;
  background: #77bd1f;
  color: #fff;
  font-weight: 450;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  .fa{
    display: none;
  }
  &.loading{
    .fa{
      display: inline-block;
    }
  }
}
.sttp-popup-seat-box{
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 999999;
  background: #fff;
  .close{
    z-index: 99999999;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.seat-price{
  display: none;
}
.sttp-show-seat{
  width: 250px;
  display: none;
}

.sttp-purchase{
  .fa{
    display: none;
  }
  &.loading{
    .fa{
      display: inline-block;
    }
  }
}

.sttp-booking{
  .st-create{
    padding-top: 0;
    h2{
      margin-top: 0;
    }
  }
  .sttp-booking-history-content{
    background: #fff;
    table{
      width: 100%;
      border-collapse: collapse;
      tr{
        th{
          padding: 15px 10px;
          font-weight: 450;
          border: 1px solid #dfdfdf;
        }
        td{
          padding: 10px;
          border: 1px solid #dfdfdf;
        }
      }
    }
  }
}

#sttpModal{
  table.sttp-history-passenger{
    width: 100%;
  }
}

.data-carries{
  width: calc(100% - 30px);
  margin: auto;
  .owl-item{
    .item{
      cursor: pointer;
      padding: 10px;
      min-height: 50px;
      img{
        width: auto;
        margin: auto;
      }
    }
  }
  .owl-nav{
    &.disabled{
      display: block !important;
      .owl-prev{
        position: absolute;
        top: 7%;
        font-size: 35px;
        left: -15px;
      }
      .owl-next{
        position: absolute;
        top: 7%;
        font-size: 35px;
        right: -15px;
      }
    }
    .owl-prev{
      position: absolute;
      top: 7%;
      font-size: 35px !important;
      left: -15px;
    }
    .owl-next{
      position: absolute;
      top: 7%;
      font-size: 35px !important;
      right: -15px;
    }
  }
}

.tab-content{
  .search-form-wrapper.sttp-search-form{
    .search-form {
      border: none;
      box-shadow: none !important;
    }
  }
}

.item-pay{
  margin-bottom: 20px;
  .st-icheck-item{
    margin-bottom: 15px;
  }
}
#sttp-clear-filter{
  background: #5191FA;
  padding: 2px 10px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  display: none;
  cursor: pointer;
  &.showfilter{
    display: inline-block;
  }
}
.sttp-airport-tooltip{
  color: #1A2B48;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: #1A2B48
  }
}
.hide-temp{
  display: none;
}

.sttp-mt-10{
 margin-top: 10px;
}
.sttp-mt-15{
  margin-top: 15px;
}
.sttp-mt-20{
  margin-top: 20px;
}

.sttp-mb-10{
  margin-bottom: 10px;
}
.sttp-mb-15{
  margin-bottom: 15px;
}
.sttp-mb-20{
  margin-bottom: 20px;
}

.fw450{
  font-weight: 450;
}

.sttp-history-passenger{
  border-collapse: collapse;
  margin-top: 15px;
  tr{
    th{
      padding: 5px 10px;
      border: 1px solid #dfdfdf;
      font-weight: 450;
      font-size: 13px;
    }
    td{
      padding: 5px 10px;
      border: 1px solid #dfdfdf;
      font-size: 13px;
    }
  }
}

.sttp-sortby{
  margin-bottom: 15px;
  label{
    font-weight: 450;
    font-size: 15px;
  }
  .btn-group{
    margin-left: 15px;
    margin-right: 15px;
    button{
      padding: 5px 10px;
    }
    .dropdown-menu{
      .dropdown-item{
        display: block;
        color: gray;
        padding: 5px 10px;
      }
    }
  }
}
.sttp-search-result {
  .sidebar-item {
    .item-content{
      .btn{
        background: #5191fa;
        border-color: #5191fa;
        padding: 3px 10px;
        font-size: 12px;
      }
    }
  }
}
.search-result-page{
  .container.sttp-fullwidth{
    width: 92%;
  }
}

.btn-sttp-booking-details{
  background: #5191fa !important;
  border-color: #5191fa !important;
}
#sttp-booking-detail{
  .nav-tabs{
    a{
      color: #5191fa;
    }
  }
}
.sttp-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 23px;
  display: none;
}

.sttp-pagination{
  margin-top: 10px;
  ul{
    overflow: hidden;
    li{
      float: left;
      margin-right: 5px;
      a{
        &.page-numbers{
          display: block;
          width: 25px;
          height: 25px;
          background: transparent;
          border: 1px solid #666;
          color: #666;
          border-radius: 3px;
          text-align: center;
          line-height: 25px;
          &.current, &:hover{
            color: #fff;
            background: #5191fa;
            border-color: #5191fa;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.sttp-history-passenger.payment-success{
  width: 100%;
  tr{
    th{
      font-size: 15px;
      padding: 10px;
    }
    td{
      padding: 10px;
    }
  }
}

.sttp-get-seat{
  display: inline-block;
  .fa{
    font-size: 23px;
    margin-right: 5px;
    cursor: pointer;
    &.fa-spinner{
      display: none;
    }
  }
  &.active{
    .fa.fa-spinner{
      display: inline-block;
    }
  }
}

.btn-get-seat{
  background: #5191fa !important;
  border-color: #5191fa !important;
  padding: 4px 10px !important;
  .fa{
    display: none;
  }
  &.active{
    .fa{
      display: inline-block;
    }
  }
}

.tooltip_templates{
  display: none;
}
.tooltipster-sidetip{
  .tooltipster-content{
    .price{
      padding-right: 10px;
    }
    .seat{
      padding-left: 10px;
    }
  }
}

.ct-tooltip.item-available{
  display: block;
}

.ct-seat-message{
  display: none;
}