@media (max-width: 1199px) {
  .search-form-wrapper.sttp-search-form .search-form .sttp-dropdown-menu:after {
    left: 21%; }
  .search-form-wrapper.sttp-search-form .search-form .sttp-dropdown-menu.next:after {
    left: 62%; }

  .sttp-sidebar {
    margin-bottom: 45px; } }
@media (max-width: 991px) {
  .search-form-wrapper.sttp-search-form .search-form .sttp-button {
    position: relative; }
    .search-form-wrapper.sttp-search-form .search-form .sttp-button .btn-search {
      padding: 15px;
      width: calc(100% + 30px);
      left: -15px;
      margin-left: -15px;
      border-radius: 0 0 5px 5px; }
  .search-form-wrapper.sttp-search-form .search-form .sttp-dropdown-menu {
    left: 0;
    width: 100%; }
    .search-form-wrapper.sttp-search-form .search-form .sttp-dropdown-menu.next:after {
      left: 75%; }
  .search-form-wrapper.sttp-search-form .advance-search {
    width: calc(100% - 30px); }

  .sttp-search-result .item .program .itn .int-item .int-process .flight-info {
    display: none; }
  .sttp-search-result .item .program .itn .int-item .int-process .flight-info-2 {
    display: none; }
  .sttp-search-result .item .program .itn .int-item .int-process:before {
    left: 7px; } }
@media (max-width: 767px) {
  #st-content-wrapper .search-form-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -50px; }

  .search-form-wrapper.sttp-search-form {
    padding-top: 0;
    padding-bottom: 0; }
    .search-form-wrapper.sttp-search-form .search-form .form-extra-field .render {
      display: block !important; }
    .search-form-wrapper.sttp-search-form .search-form .sttp-dropdown-menu .airport {
      margin-top: 20px; }

  .sttp-sortby .btn-group {
    display: block;
    clear: both;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }
    .sttp-sortby .btn-group button {
      min-width: 116px; }
    .sttp-sortby .btn-group:after {
      content: '';
      clear: both;
      display: block; }

  .sttp-search-result .item .info {
    position: relative;
    border-left: 0; }
  .sttp-search-result .item .program .outbound-list {
    position: relative; }
  .sttp-search-result .item .program .itn .int-item .int-process:before {
    left: 5%;
    width: 90%; }
  .sttp-search-result .item .sttp-more-option {
    left: 50%;
    margin-left: -106px; }
    .sttp-search-result .item .sttp-more-option span {
      padding: 0; } }
@media (max-width: 575px) {
  .search-form-wrapper.sttp-search-form .advance-search .advance-search-box .col-xs-6, .search-form-wrapper.sttp-search-form .advance-search .advance-search-box .col-xs-2 {
    width: 100%;
    margin-bottom: 15px; }

  .sttp-search-result .item .program .itn {
    padding-left: 0; }
    .sttp-search-result .item .program .itn .int-item {
      padding-left: 5px;
      padding-right: 5px; }
      .sttp-search-result .item .program .itn .int-item .int-process {
        display: block; }
        .sttp-search-result .item .program .itn .int-item .int-process:before {
          display: none; }
        .sttp-search-result .item .program .itn .int-item .int-process .itn-circle:before {
          display: block;
          margin-top: 10px !important; } }

/*# sourceMappingURL=responsive.css.map */
