.sttp-booking-history-content {
    background: #fff; }
.sttp-booking-history-content table {
    width: 100%;
    border-collapse: collapse; }
.sttp-booking-history-content table tr th {
    padding: 15px 10px;
    font-weight: 450;
    border: 1px solid #dfdfdf; }
.sttp-booking-history-content table tr td {
    padding: 10px;
    border: 1px solid #dfdfdf; }
.hide-temp{
    display: none;
}
#sttpModal table.sttp-history-passenger {
    width: 100%; }
.sttp-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 23px;
    display: none; }
.sttp-history-passenger {
    border-collapse: collapse;
    margin-top: 15px; }
.sttp-history-passenger tr th {
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    font-weight: 450;
    font-size: 13px; }
.sttp-history-passenger tr td {
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    font-size: 13px; }
.sttp-pagination {
    margin-top: 10px; }
.sttp-pagination ul {
    overflow: hidden; }
.sttp-pagination ul li {
    float: left;
    margin-right: 5px; }
.sttp-pagination ul li a.page-numbers {
    display: block;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #666;
    color: #666;
    border-radius: 3px;
    text-align: center;
    line-height: 25px; }
.sttp-pagination ul li a.page-numbers.current, .sttp-pagination ul li a.page-numbers:hover {
    color: #fff;
    background: #5191fa;
    border-color: #5191fa;
    text-decoration: none; }

.st-pkfare-settings h3 {
    padding: 0;
    margin: 0; }
.st-pkfare-settings .st_pkfare_partner_id input,
.st-pkfare-settings .st_pkfare_partner_key input {
    min-width: 50%; }
.st-pkfare-settings .st_pkfare_sttp_import_city button {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_city .spinner {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_city .message {
    clear: both;
    padding-top: 10px; }
.st-pkfare-settings .st_pkfare_sttp_import_city .status-import {
    padding: 4px 0; }
.st-pkfare-settings .st_pkfare_sttp_import_city .status-import span {
    color: #008ec2; }
.st-pkfare-settings .st_pkfare_sttp_import_city .status-import span.no {
    color: #cc0000; }

.st-pkfare-settings .st_pkfare_sttp_import_airplane button {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_airplane .spinner {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_airplane .message {
    clear: both;
    padding-top: 10px; }
.st-pkfare-settings .st_pkfare_sttp_import_airplane .status-import {
    padding: 4px 0; }
.st-pkfare-settings .st_pkfare_sttp_import_airplane .status-import span {
    color: #008ec2; }
.st-pkfare-settings .st_pkfare_sttp_import_airplane .status-import span.no {
    color: #cc0000; }

.st-pkfare-settings .st_pkfare_sttp_import_airport button {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_airport .spinner {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_airport .message {
    clear: both;
    padding-top: 10px; }
.st-pkfare-settings .st_pkfare_sttp_import_airport .status-import {
    padding: 4px 0; }
.st-pkfare-settings .st_pkfare_sttp_import_airport .status-import span {
    color: #008ec2; }
.st-pkfare-settings .st_pkfare_sttp_import_airport .status-import span.no {
    color: #cc0000; }

.st-pkfare-settings .st_pkfare_sttp_import_carrier button {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_carrier .spinner {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_carrier .message {
    clear: both;
    padding-top: 10px; }
.st-pkfare-settings .st_pkfare_sttp_import_carrier .status-import {
    padding: 4px 0; }
.st-pkfare-settings .st_pkfare_sttp_import_carrier .status-import span {
    color: #008ec2; }
.st-pkfare-settings .st_pkfare_sttp_import_carrier .status-import span.no {
    color: #cc0000; }

.st-pkfare-settings .st_pkfare_sttp_import_country button {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_country .spinner {
    float: left; }
.st-pkfare-settings .st_pkfare_sttp_import_country .message {
    clear: both;
    padding-top: 10px; }
.st-pkfare-settings .st_pkfare_sttp_import_country .status-import {
    padding: 4px 0; }
.st-pkfare-settings .st_pkfare_sttp_import_country .status-import span {
    color: #008ec2; }
.st-pkfare-settings .st_pkfare_sttp_import_country .status-import span.no {
    color: #cc0000; }